{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Authentication</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  
  <body class="auth-base-body">
    
      <div class="auth-base-container">
          <div class="auth-base-card">
            
              {% block content %}
              {% endblock %}
              
          </div>
      </div>
    
  </body>

</html>