{% extends 'accounts/base.html' %}

{% block content %}

<h2>Login</h2>

<!-- ERROR MESSAGES -->
{% if messages %}
    {% for message in messages %}
        <div class="alert-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    

    
    <label>Email or Voter ID</label>
    <input type="text" name="username"><br><br>

    <label>Password</label>
    <input type="password" name="password"><br><br>

    <button type="submit">Login</button>
</form>

<a href="{% url 'register' %}">Register</a>

{% endblock %}