{% extends 'accounts/base.html' %}
{% block content %}

<div class="login-page">
    <h2 class="login-title">
        Login
    </h2>

    {% if messages %}
        {% for message in messages %}
            <div class="login-alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="login-form">
        {% csrf_token %}

        <div class="login-form-group">
            <label>
                Email or Voter ID
            </label>

            <input type="text" name="username" class="login-input">
        </div>

        <div class="login-form-group">
            <label>
                Password
            </label>

            <input type="password" name="password" class="login-input">
        </div>

        <button type="submit" class="login-btn">
            Login
        </button>
    </form>

    <div class="login-register-link">
        <a href="{% url 'register' %}">
            Register
        </a>
    </div>
</div>

{% endblock %}