{% extends 'dashboard/admin_base.html' %}

{% block content %}

<div class="create-election-page">

    <h2 class="create-election-title">
        Create Election
    </h2>

    <form method="POST" class="create-election-form">

        {% csrf_token %}

        <div class="create-election-group">
            <label for="{{ form.title.id_for_label }}">
                Title
            </label>
            {{ form.title }}
        </div>

        <div class="create-election-group">
            <label for="{{ form.description.id_for_label }}">
                Description
            </label>
            {{ form.description }}
        </div>

        <div class="create-election-group">
            <label for="{{ form.start_date.id_for_label }}">
                Start Date
            </label>
            {{ form.start_date }}
        </div>

        <div class="create-election-group">
            <label for="{{ form.end_date.id_for_label }}">
                End Date
            </label>
            {{ form.end_date }}
        </div>

        <div class="create-election-checkbox">
            {{ form.is_active }}
            <label for="{{ form.is_active.id_for_label }}">
                Active Election
            </label>
        </div>

        <button type="submit" class="create-election-btn">
            Create Election
        </button>

    </form>

</div>

{% endblock %}