{% extends 'dashboard/voter_base.html' %}

{% block content %}

<div class="candidate-list-page">

    <h2 class="candidate-list-title">
        {{ election.title }} - Candidates
    </h2>

    <div class="candidate-list-wrapper">

        {% for app in candidates %}

        <div class="candidate-list-card">

            <div class="candidate-list-name">
                {{ app.user.first_name }} {{ app.user.last_name }}
            </div>

            <div class="candidate-list-position">
                Position:
                <strong>{{ app.position }}</strong>
            </div>

            <a href="{% url 'vote' election.id app.user.id %}" class="candidate-list-vote-btn">
                Vote
            </a>

        </div>

        {% empty %}

        <p class="candidate-list-empty">
            No approved candidates yet.
        </p>

        {% endfor %}

    </div>

</div>

{% endblock %}