{% extends 'dashboard/admin_base.html' %}

{% block content %}

<div class="admin-dashboard">

    <div class="dashboard-header">

        <h1>Admin Dashboard</h1>

        <p>
            Welcome,
            <strong>{{ request.user.username }}</strong>
        </p>

    </div>

    <div class="dashboard-cards">

        <div class="dashboard-card">
            <a href="{% url 'admin_election_list' %}">
                Elections
            </a>
        </div>

        <div class="dashboard-card">
            <a href="{% url 'manage_candidates' %}">
                Candidates
            </a>
        </div>

        <div class="dashboard-card">
            <a href="#">
                Election Results
            </a>
        </div>

        <div class="dashboard-card">

            <h3>
                Registered Users
            </h3>

            <p>
                Manage voters and candidates.
            </p>

            <a href="#">
                Manage Users
            </a>

        </div>

    </div>

</div>

{% endblock %}